In [49]:
import tensorflow as tf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn import datasets, model_selection, linear_model
from sklearn import model_selection
from sklearn.metrics import accuracy_score # accuracy      #mes  --> linerregression    accuracy_score --> classification, LogisticRegression 
from sklearn.metrics import roc_curve, auc
from sklearn.svm import LinearSVC
import seaborn as sns
import random as rnd
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [29]:
import os
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

In [30]:
df = pd.read_csv('nba.games.stats_edited.csv')
df.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,FieldGoals.,FreeThrowsAttempted,FreeThrows.,TotalRebounds,Turnovers,Opp.FieldGoals.
0,1,ATL,1,29/10/2014,Away,TOR,L,0.500,17,0.529,42,17,0.411
1,2,ATL,2,01/11/2014,Home,IND,W,0.507,33,0.758,37,12,0.383
2,3,ATL,3,05/11/2014,Away,SAS,L,0.413,11,0.727,37,13,0.449
3,4,ATL,4,07/11/2014,Away,CHO,L,0.462,26,0.769,38,19,0.495
4,5,ATL,5,08/11/2014,Home,NYK,W,0.407,36,0.778,41,8,0.476

In [31]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9840 entries, 0 to 9839
Data columns (total 13 columns):
Unnamed: 0             9840 non-null int64
Team                   9840 non-null object
Game                   9840 non-null int64
Date                   9840 non-null object
Home                   9840 non-null object
Opponent               9840 non-null object
WINorLOSS              9840 non-null object
FieldGoals.            9840 non-null float64
FreeThrowsAttempted    9840 non-null int64
FreeThrows.            9840 non-null float64
TotalRebounds          9840 non-null int64
Turnovers              9840 non-null int64
Opp.FieldGoals.        9840 non-null float64
dtypes: float64(3), int64(5), object(5)
memory usage: 999.5+ KB

In [32]:
data = pd.DataFrame(df)

In [33]:
data['new_dates'] = pd.to_datetime(data['Date'])
start_date = '10/01/2017'
end_date = '04/30/2018'

mask = (data['new_dates'] > start_date) & (data['new_dates'] <= end_date)
data = data.loc[mask]

data

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,FieldGoals.,FreeThrowsAttempted,FreeThrows.,TotalRebounds,Turnovers,Opp.FieldGoals.,new_dates
4973,5460,ATL,54,10/02/2017,Away,SAC,L,0.507,31,0.774,37,16,0.475,2017-10-02
4984,6560,ATL,65,10/03/2017,Home,TOR,W,0.520,29,0.655,45,21,0.402,2017-10-03
4985,6660,ATL,66,11/03/2017,Away,MEM,W,0.500,26,0.769,46,18,0.378,2017-11-03
5000,8161,ATL,81,11/04/2017,Home,CHO,W,0.519,18,0.778,50,16,0.330,2017-11-04
5001,8260,ATL,82,12/04/2017,Away,IND,L,0.417,19,0.789,37,18,0.476,2017-12-04
5040,3961,BOS,39,11/01/2017,Home,WAS,W,0.506,18,0.778,45,14,0.429,2017-11-01
5055,5461,BOS,54,11/02/2017,Away,UTA,W,0.592,23,0.652,37,16,0.407,2017-11-02
5067,6661,BOS,66,10/03/2017,Away,DEN,L,0.420,23,0.826,34,18,0.529,2017-10-03
5068,6761,BOS,67,12/03/2017,Home,CHI,W,0.465,4,1.000,51,21,0.379,2017-12-03
5082,8162,BOS,81,10/04/2017,Home,BRK,W,0.451,21,0.857,51,13,0.360,2017-10-04
5083,8261,BOS,82,12/04/2017,Home,MIL,W,0.451,26,0.692,46,8,0.440,2017-12-04
5121,3862,BRK,38,12/01/2017,Home,NOP,L,0.412,11,0.545,50,16,0.422,2017-12-01
5137,5462,BRK,54,10/02/2017,Home,MIA,L,0.432,28,0.750,48,22,0.446,2017-10-02
5147,6462,BRK,64,10/03/2017,Away,DAL,L,0.436,23,0.826,35,12,0.423,2017-10-03
5148,6562,BRK,65,12/03/2017,Home,NYK,W,0.460,29,0.724,55,12,0.415,2017-12-03
5164,8163,BRK,81,10/04/2017,Away,BOS,L,0.360,39,0.897,49,12,0.451,2017-10-04
5165,8262,BRK,82,12/04/2017,Away,CHI,L,0.326,18,0.778,48,18,0.432,2017-12-04
5219,5463,CHO,54,11/02/2017,Home,LAC,L,0.435,20,0.750,40,8,0.471,2017-11-02
5230,6563,CHO,65,10/03/2017,Home,ORL,W,0.595,20,0.850,43,7,0.408,2017-10-03
5231,6663,CHO,66,11/03/2017,Home,NOP,L,0.451,20,0.850,50,9,0.505,2017-11-03
5246,8164,CHO,81,10/04/2017,Away,MIL,L,0.407,13,0.615,39,9,0.449,2017-10-04
5247,8263,CHO,82,11/04/2017,Away,ATL,L,0.330,19,0.789,40,13,0.519,2017-11-04
5287,4064,CHI,40,12/01/2017,Away,NYK,L,0.393,21,0.762,43,12,0.478,2017-12-01
5301,5464,CHI,54,10/02/2017,Away,PHO,L,0.430,22,0.818,41,11,0.505,2017-10-02
5302,5564,CHI,55,12/02/2017,Away,MIN,L,0.417,13,0.692,35,18,0.543,2017-12-02
5312,6564,CHI,65,10/03/2017,Home,HOU,L,0.388,12,0.750,49,18,0.416,2017-10-03
5313,6664,CHI,66,12/03/2017,Away,BOS,L,0.379,9,0.778,40,17,0.465,2017-12-03
5328,8165,CHI,81,10/04/2017,Home,ORL,W,0.539,16,0.875,54,12,0.345,2017-10-04
5329,8264,CHI,82,12/04/2017,Home,BRK,W,0.432,21,0.762,62,12,0.326,2017-12-04
5367,3865,CLE,38,11/01/2017,Away,POR,L,0.341,28,0.750,48,15,0.430,2017-11-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9795,38119,WAS,38,03/01/2018,Home,NYK,W,0.593,26,0.615,42,12,0.477,2018-03-01
9800,43122,WAS,43,13/01/2018,Home,BRK,W,0.495,23,0.739,47,15,0.424,2018-01-13
9801,44119,WAS,44,15/01/2018,Home,MIL,L,0.421,31,0.806,39,23,0.469,2018-01-15
9802,45119,WAS,45,17/01/2018,Away,CHO,L,0.488,23,0.696,40,16,0.490,2018-01-17
9803,46119,WAS,46,19/01/2018,Away,DET,W,0.500,27,0.889,34,13,0.500,2018-01-19
9804,47119,WAS,47,22/01/2018,Away,DAL,L,0.302,27,0.593,47,12,0.437,2018-01-22
9805,48119,WAS,48,25/01/2018,Away,OKC,L,0.488,16,0.750,39,23,0.517,2018-01-25
9806,49119,WAS,49,27/01/2018,Away,ATL,W,0.576,14,0.929,38,12,0.432,2018-01-27
9807,50119,WAS,50,30/01/2018,Home,OKC,W,0.382,29,0.931,43,12,0.375,2018-01-30
9808,51158,WAS,51,01/02/2018,Home,TOR,W,0.518,26,0.923,44,16,0.530,2018-01-02
9809,52135,WAS,52,03/02/2018,Away,ORL,W,0.541,18,0.889,38,14,0.442,2018-03-02
9814,57119,WAS,57,14/02/2018,Away,NYK,W,0.545,19,0.789,45,11,0.464,2018-02-14
9815,58119,WAS,58,22/02/2018,Away,CLE,W,0.478,10,1.000,43,10,0.500,2018-02-22
9816,59119,WAS,59,23/02/2018,Home,CHO,L,0.494,17,0.941,36,14,0.489,2018-02-23
9817,60119,WAS,60,25/02/2018,Home,PHI,W,0.544,12,0.917,48,19,0.360,2018-02-25
9818,61158,WAS,61,27/02/2018,Away,MIL,W,0.477,22,0.727,40,11,0.455,2018-02-27
9819,62135,WAS,62,28/02/2018,Home,GSW,L,0.400,21,0.857,51,16,0.514,2018-02-28
9820,63122,WAS,63,02/03/2018,Home,TOR,L,0.456,21,0.667,47,17,0.462,2018-02-03
9821,64119,WAS,64,04/03/2018,Home,IND,L,0.422,19,0.789,42,14,0.442,2018-04-03
9825,68119,WAS,68,13/03/2018,Home,MIN,L,0.512,25,0.760,39,11,0.529,2018-03-13
9826,69119,WAS,69,14/03/2018,Away,BOS,W,0.474,28,0.750,52,19,0.485,2018-03-14
9827,70119,WAS,70,17/03/2018,Home,IND,W,0.541,23,0.826,38,14,0.453,2018-03-17
9828,71158,WAS,71,21/03/2018,Away,SAS,L,0.422,16,0.750,35,12,0.494,2018-03-21
9829,72135,WAS,72,23/03/2018,Home,DEN,L,0.475,14,0.714,46,17,0.435,2018-03-23
9830,73122,WAS,73,25/03/2018,Home,NYK,L,0.425,23,0.739,46,14,0.466,2018-03-25
9831,74119,WAS,74,27/03/2018,Home,SAS,W,0.541,18,0.778,50,16,0.448,2018-03-27
9832,75119,WAS,75,29/03/2018,Away,DET,L,0.416,15,0.800,43,15,0.488,2018-03-29
9833,76119,WAS,76,31/03/2018,Home,CHO,W,0.455,12,0.750,44,12,0.455,2018-03-31
9834,77119,WAS,77,01/04/2018,Away,CHI,L,0.457,12,1.000,37,16,0.524,2018-01-04
9835,78119,WAS,78,03/04/2018,Away,HOU,L,0.528,23,0.696,36,17,0.512,2018-03-04

In [34]:
da = [data]

for dataset in da:
    dataset.loc[dataset['Home'] == 'Home', 'Home'] = 1
    dataset.loc[dataset['Home'] == 'Away', 'Home'] = 0
data['Home']

4973    0
4984    1
4985    0
5000    1
5001    0
5040    1
5055    0
5067    0
5068    1
5082    1
5083    1
5121    1
5137    1
5147    0
5148    1
5164    0
5165    0
5219    1
5230    1
5231    1
5246    0
5247    0
5287    0
5301    0
5302    0
5312    1
5313    0
5328    1
5329    1
5367    0
       ..
9795    1
9800    1
9801    1
9802    0
9803    0
9804    0
9805    0
9806    0
9807    1
9808    1
9809    0
9814    0
9815    0
9816    1
9817    1
9818    0
9819    1
9820    1
9821    1
9825    1
9826    0
9827    1
9828    0
9829    1
9830    1
9831    1
9832    0
9833    1
9834    0
9835    0
Name: Home, Length: 1920, dtype: int64

In [35]:
da = [data]

for dataset in da:
    dataset.loc[dataset['WINorLOSS'] == 'W', 'WINorLOSS'] = 1
    dataset.loc[dataset['WINorLOSS'] == 'L', 'WINorLOSS'] = 0
data['WINorLOSS']

4973    0
4984    1
4985    1
5000    1
5001    0
5040    1
5055    1
5067    0
5068    1
5082    1
5083    1
5121    0
5137    0
5147    0
5148    1
5164    0
5165    0
5219    0
5230    1
5231    0
5246    0
5247    0
5287    0
5301    0
5302    0
5312    0
5313    0
5328    1
5329    1
5367    0
       ..
9795    1
9800    1
9801    0
9802    0
9803    1
9804    0
9805    0
9806    1
9807    1
9808    1
9809    1
9814    1
9815    1
9816    0
9817    1
9818    1
9819    0
9820    0
9821    0
9825    0
9826    1
9827    1
9828    0
9829    0
9830    0
9831    1
9832    0
9833    1
9834    0
9835    0
Name: WINorLOSS, Length: 1920, dtype: int64

In [36]:
data.head()

,Unnamed: 0,Team,Game,Date,Home,Opponent,WINorLOSS,FieldGoals.,FreeThrowsAttempted,FreeThrows.,TotalRebounds,Turnovers,Opp.FieldGoals.,new_dates
4973,5460,ATL,54,10/02/2017,0,SAC,0,0.507,31,0.774,37,16,0.475,2017-10-02
4984,6560,ATL,65,10/03/2017,1,TOR,1,0.520,29,0.655,45,21,0.402,2017-10-03
4985,6660,ATL,66,11/03/2017,0,MEM,1,0.500,26,0.769,46,18,0.378,2017-11-03
5000,8161,ATL,81,11/04/2017,1,CHO,1,0.519,18,0.778,50,16,0.330,2017-11-04
5001,8260,ATL,82,12/04/2017,0,IND,0,0.417,19,0.789,37,18,0.476,2017-12-04

In [37]:
del data['new_dates']
del data['Unnamed: 0']

In [38]:
x_data = data
y_data = x_data[['WINorLOSS']]

In [39]:
from sklearn import datasets, model_selection, linear_model

In [40]:
x_data.describe()

,Game,Home,WINorLOSS,FieldGoals.,FreeThrowsAttempted,FreeThrows.,TotalRebounds,Turnovers,Opp.FieldGoals.
count,1920.000000,1920.00000,1920.00000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000,1920.000000
mean,42.566667,0.50000,0.50000,0.460374,21.816146,0.770218,43.578125,13.654687,0.460374
std,23.663697,0.50013,0.50013,0.054502,7.332002,0.103932,6.337243,3.779767,0.054502
min,1.000000,0.00000,0.00000,0.282000,1.000000,0.143000,22.000000,3.000000,0.282000
25%,21.000000,0.00000,0.00000,0.423000,17.000000,0.704000,39.000000,11.000000,0.423000
50%,44.000000,0.50000,0.50000,0.459000,21.000000,0.778000,43.000000,14.000000,0.459000
75%,63.000000,1.00000,1.00000,0.494000,26.000000,0.842000,48.000000,16.000000,0.494000
max,82.000000,1.00000,1.00000,0.667000,64.000000,1.000000,68.000000,29.000000,0.667000

In [41]:
df_team = data['Team']

df_team2 = df_team.drop_duplicates(keep='first')

df_team2

4973    ATL
5040    BOS
5121    BRK
5219    CHO
5287    CHI
5367    CLE
5450    DAL
5531    DEN
5616    DET
5697    GSW
5780    HOU
5860    IND
5944    LAC
6028    LAL
6108    MEM
6203    MIA
6283    MIL
6352    MIN
6435    NOP
6516    NYK
6599    OKC
6681    ORL
6759    PHI
6844    PHO
6928    POR
7023    SAC
7090    SAS
7188    TOR
7270    UTA
7335    WAS
Name: Team, dtype: object

In [42]:
da = [data]
team_titles = {"ATL": 1, "BOS": 2, "BRK": 3, "CHO": 4, "CHI": 5, 
               "CLE": 6, "DAL": 7, "DEN": 8, "DET": 9, "GSW": 10,
              "HOU": 11, "IND": 12, "LAC": 13, "LAL": 14, "MEM": 15,
              "MIA": 16, "MIL": 17, "MIN": 18, "NOP": 19, "NYK" :20,
              "OKC": 21, "ORL": 22, "PHI": 23, "PHO": 24, "POR": 25,
              "SAC": 26, "SAS": 27, "TOR":  28, "UTA": 29, "WAS": 30}

for dataset in da:
    dataset['Team'] = dataset['Team'].map(team_titles)
    dataset['Opponent'] = dataset['Opponent'].map(team_titles)

In [43]:
del data['Date']
del data['Game']
del data['WINorLOSS']

In [44]:
data

,Team,Home,Opponent,FieldGoals.,FreeThrowsAttempted,FreeThrows.,TotalRebounds,Turnovers,Opp.FieldGoals.
4973,1,0,26,0.507,31,0.774,37,16,0.475
4984,1,1,28,0.520,29,0.655,45,21,0.402
4985,1,0,15,0.500,26,0.769,46,18,0.378
5000,1,1,4,0.519,18,0.778,50,16,0.330
5001,1,0,12,0.417,19,0.789,37,18,0.476
5040,2,1,30,0.506,18,0.778,45,14,0.429
5055,2,0,29,0.592,23,0.652,37,16,0.407
5067,2,0,8,0.420,23,0.826,34,18,0.529
5068,2,1,5,0.465,4,1.000,51,21,0.379
5082,2,1,3,0.451,21,0.857,51,13,0.360
5083,2,1,17,0.451,26,0.692,46,8,0.440
5121,3,1,19,0.412,11,0.545,50,16,0.422
5137,3,1,16,0.432,28,0.750,48,22,0.446
5147,3,0,7,0.436,23,0.826,35,12,0.423
5148,3,1,20,0.460,29,0.724,55,12,0.415
5164,3,0,2,0.360,39,0.897,49,12,0.451
5165,3,0,5,0.326,18,0.778,48,18,0.432
5219,4,1,13,0.435,20,0.750,40,8,0.471
5230,4,1,22,0.595,20,0.850,43,7,0.408
5231,4,1,19,0.451,20,0.850,50,9,0.505
5246,4,0,17,0.407,13,0.615,39,9,0.449
5247,4,0,1,0.330,19,0.789,40,13,0.519
5287,5,0,20,0.393,21,0.762,43,12,0.478
5301,5,0,24,0.430,22,0.818,41,11,0.505
5302,5,0,18,0.417,13,0.692,35,18,0.543
5312,5,1,11,0.388,12,0.750,49,18,0.416
5313,5,0,2,0.379,9,0.778,40,17,0.465
5328,5,1,22,0.539,16,0.875,54,12,0.345
5329,5,1,3,0.432,21,0.762,62,12,0.326
5367,6,0,25,0.341,28,0.750,48,15,0.430
...,...,...,...,...,...,...,...,...,...
9795,30,1,20,0.593,26,0.615,42,12,0.477
9800,30,1,3,0.495,23,0.739,47,15,0.424
9801,30,1,17,0.421,31,0.806,39,23,0.469
9802,30,0,4,0.488,23,0.696,40,16,0.490
9803,30,0,9,0.500,27,0.889,34,13,0.500
9804,30,0,7,0.302,27,0.593,47,12,0.437
9805,30,0,21,0.488,16,0.750,39,23,0.517
9806,30,0,1,0.576,14,0.929,38,12,0.432
9807,30,1,21,0.382,29,0.931,43,12,0.375
9808,30,1,28,0.518,26,0.923,44,16,0.530
9809,30,0,22,0.541,18,0.889,38,14,0.442
9814,30,0,20,0.545,19,0.789,45,11,0.464
9815,30,0,6,0.478,10,1.000,43,10,0.500
9816,30,1,4,0.494,17,0.941,36,14,0.489
9817,30,1,23,0.544,12,0.917,48,19,0.360
9818,30,0,17,0.477,22,0.727,40,11,0.455
9819,30,1,10,0.400,21,0.857,51,16,0.514
9820,30,1,28,0.456,21,0.667,47,17,0.462
9821,30,1,12,0.422,19,0.789,42,14,0.442
9825,30,1,18,0.512,25,0.760,39,11,0.529
9826,30,0,2,0.474,28,0.750,52,19,0.485
9827,30,1,12,0.541,23,0.826,38,14,0.453
9828,30,0,27,0.422,16,0.750,35,12,0.494
9829,30,1,8,0.475,14,0.714,46,17,0.435
9830,30,1,20,0.425,23,0.739,46,14,0.466
9831,30,1,27,0.541,18,0.778,50,16,0.448
9832,30,0,9,0.416,15,0.800,43,15,0.488
9833,30,1,4,0.455,12,0.750,44,12,0.455
9834,30,0,5,0.457,12,1.000,37,16,0.524
9835,30,0,11,0.528,23,0.696,36,17,0.512

In [45]:
x_train, x_test, y_train, y_test = model_selection.train_test_split(x_data, y_data, test_size=0.3, random_state=0)

In [46]:
print(x_train.shape)
print(x_test.shape)
print(y_train.shape)
print(y_test.shape)

(1344, 9)
(576, 9)
(1344, 1)
(576, 1)

## Use titanic

In [55]:
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC, LinearSVC
from sklearn.naive_bayes import GaussianNB

In [57]:
random_forest = RandomForestClassifier(n_estimators=100)
random_forest.fit(x_train, y_train)

Y_prediction = random_forest.predict(x_test)

random_forest.score(x_train, y_train)
acc_random_forest = round(random_forest.score(x_train, y_train) * 100, 2)
acc_random_forest

C:\Users\JHE\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().

100.0

In [58]:

from sklearn import datasets, model_selection, linear_model

model = linear_model.LogisticRegression()

In [59]:
model.fit(x_train, y_train)

C:\Users\JHE\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
C:\Users\JHE\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [60]:
from sklearn.metrics import mean_squared_error, accuracy_score, roc_curve, auc
# print('Accuracy: ', accuracy_score(model.predict(x_test), y_test))

In [64]:
from sklearn.svm import LinearSVC
from sklearn.svm import SVC

svc = SVC(C=100, gamma = 0.001, probability = True)
svc.fit(x_train, y_train)

print("Accuracy on Training set: {:.3f}".format(svc.score(x_train, y_train)))
print("Accuracy on Test set: {:.3f}".format(svc.score(x_test, y_test)))

C:\Users\JHE\Anaconda3\lib\site-packages\sklearn\utils\validation.py:761: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

Accuracy on Training set: 0.751
Accuracy on Test set: 0.663

## Use 0-3.Regression

In [20]:
import tensorflow as tf
from tensorflow import layers

import os
tf.logging.set_verbosity(tf.logging.ERROR)
os.environ['TF_CPP_MIN_LOG_LEVEL'] = '2'

In [21]:
X = tf.placeholder(tf.float32, [None, 9]) # number of X_data's columns
Y = tf.placeholder(tf.float32, [None, 1]) # Regression's Y_data has just one column (real value)

dropout_sign = tf.placeholder(tf.bool) # layers.dropout() ì€ True/False ë¡œ Training/Testing ì—¬ë¶€ë¥¼ ê²°ì •í•´ ì¤„ ìˆ˜ ìžˆìŠµë‹ˆë‹¤.

In [22]:
L1 = layers.dense(X, 32, activation=tf.nn.elu, kernel_initializer=tf.keras.initializers.he_normal())
L1 = layers.dropout(L1, rate=0.2, training=dropout_sign) # layers.dropout()ì˜ "rate"ëŠ” keeping rateê°€ ì•„ë‹Œ dropping rateì´ë©°, default ê°’ì€ 0.5ìž…ë‹ˆë‹¤.

L2 = layers.dense(L1, 32, activation=tf.nn.elu, kernel_initializer=tf.keras.initializers.he_normal()) 
L2 = layers.dropout(L2, rate=0.2, training=dropout_sign) 

model = layers.dense(L2, 1, activation=None) # Regression's Y_data has just one column (real value)

In [23]:
cost = tf.losses.mean_squared_error(Y, model)
optimizer = tf.train.AdamOptimizer(1e-2).minimize(cost) # 1e-2 == 0.01

In [24]:
init = tf.global_variables_initializer()
sess = tf.Session()
sess.run(init)

In [25]:
total_epoch = 10000

for epoch in range(total_epoch):
    
    _, cost_val = sess.run([optimizer, cost], feed_dict={X: x_train, Y: y_train, dropout_sign: False}) # , dropout_sign: True
    training_cost = cost_val 
    test_cost = sess.run(cost, feed_dict={X: x_test, Y: y_test, dropout_sign: False})
    
    if epoch % 200 == 0:
        print('Epoch:', '%04d' % (epoch + 1), 
              '|| Avg. cost =', '{:.3f}'.format(training_cost), 
              '|| Test cost =', '{:.3f}'.format(test_cost))

print('Learning process is completed!')

Epoch: 0001 || Avg. cost = 107.348 || Test cost = 161.565
Epoch: 0201 || Avg. cost = 0.260 || Test cost = 0.269
Epoch: 0401 || Avg. cost = 0.213 || Test cost = 0.231
Epoch: 0601 || Avg. cost = 0.194 || Test cost = 0.218
Epoch: 0801 || Avg. cost = 0.172 || Test cost = 0.196
Epoch: 1001 || Avg. cost = 0.218 || Test cost = 0.248
Epoch: 1201 || Avg. cost = 0.141 || Test cost = 0.164
Epoch: 1401 || Avg. cost = 0.133 || Test cost = 0.157
Epoch: 1601 || Avg. cost = 0.130 || Test cost = 0.156
Epoch: 1801 || Avg. cost = 0.417 || Test cost = 0.810
Epoch: 2001 || Avg. cost = 0.125 || Test cost = 0.152
Epoch: 2201 || Avg. cost = 0.149 || Test cost = 0.157
Epoch: 2401 || Avg. cost = 0.122 || Test cost = 0.150
Epoch: 2601 || Avg. cost = 0.125 || Test cost = 0.152
Epoch: 2801 || Avg. cost = 0.120 || Test cost = 0.150
Epoch: 3001 || Avg. cost = 0.120 || Test cost = 0.152
Epoch: 3201 || Avg. cost = 0.118 || Test cost = 0.151
Epoch: 3401 || Avg. cost = 0.119 || Test cost = 0.152
Epoch: 3601 || Avg. cost = 0.116 || Test cost = 0.151
Epoch: 3801 || Avg. cost = 0.118 || Test cost = 0.153
Epoch: 4001 || Avg. cost = 0.115 || Test cost = 0.152
Epoch: 4201 || Avg. cost = 0.115 || Test cost = 0.151
Epoch: 4401 || Avg. cost = 0.112 || Test cost = 0.152
Epoch: 4601 || Avg. cost = 0.112 || Test cost = 0.153
Epoch: 4801 || Avg. cost = 0.110 || Test cost = 0.154
Epoch: 5001 || Avg. cost = 0.110 || Test cost = 0.154
Epoch: 5201 || Avg. cost = 0.108 || Test cost = 0.154
Epoch: 5401 || Avg. cost = 0.108 || Test cost = 0.155
Epoch: 5601 || Avg. cost = 0.147 || Test cost = 0.177
Epoch: 5801 || Avg. cost = 0.106 || Test cost = 0.157
Epoch: 6001 || Avg. cost = 0.111 || Test cost = 0.155
Epoch: 6201 || Avg. cost = 0.104 || Test cost = 0.157
Epoch: 6401 || Avg. cost = 0.103 || Test cost = 0.156
Epoch: 6601 || Avg. cost = 0.109 || Test cost = 0.163
Epoch: 6801 || Avg. cost = 0.100 || Test cost = 0.157
Epoch: 7001 || Avg. cost = 0.099 || Test cost = 0.157
Epoch: 7201 || Avg. cost = 0.102 || Test cost = 0.158
Epoch: 7401 || Avg. cost = 0.098 || Test cost = 0.162
Epoch: 7601 || Avg. cost = 0.095 || Test cost = 0.166
Epoch: 7801 || Avg. cost = 0.093 || Test cost = 0.170
Epoch: 8001 || Avg. cost = 0.092 || Test cost = 0.175
Epoch: 8201 || Avg. cost = 0.091 || Test cost = 0.178
Epoch: 8401 || Avg. cost = 0.089 || Test cost = 0.180
Epoch: 8601 || Avg. cost = 0.092 || Test cost = 0.185
Epoch: 8801 || Avg. cost = 0.106 || Test cost = 0.185
Epoch: 9001 || Avg. cost = 0.096 || Test cost = 0.183
Epoch: 9201 || Avg. cost = 0.083 || Test cost = 0.191
Epoch: 9401 || Avg. cost = 0.084 || Test cost = 0.200
Epoch: 9601 || Avg. cost = 0.084 || Test cost = 0.244
Epoch: 9801 || Avg. cost = 0.078 || Test cost = 0.214
Learning process is completed!

In [26]:
# Test accuracy ë¥¼ ì¶œë ¥í•©ë‹ˆë‹¤. dropout_signì„ Falseë¡œ ë°”ê¾¸ì–´ dropoutì„ ê±·ì–´ë‚´ì¤˜ì•¼ í•©ë‹ˆë‹¤.
print('Test cost : {}'.format(sess.run(cost, 
                                           feed_dict={
                                               X: x_test, 
                                               Y: y_test, dropout_sign: False}))) # , dropout_sign: False

Test cost : 0.22120332717895508