In [104]:
import requests # from urllib.request import urlopen
from bs4 import BeautifulSoup

import pandas as pd
from datetime import datetime 
import time # import time -> time.sleep(5)
import re

In [105]:
query = ['october', 'november', 'december', 'january', 'february', 'march']
v_name_list = []
v_score_list = []
h_name_list = []
h_score_list = []

for i in query : 
    url = "https://www.basketball-reference.com/leagues/NBA_2019_games-" + i + ".html"
    web = requests.get(url).content
    source = BeautifulSoup(web, 'html.parser')
    print (url)
    
    find_visitor = source.find_all('td', {'data-stat' : 'visitor_team_name'})
    find_v_score = source.find_all('td', {'data-stat' : 'visitor_pts'})
    find_home = source.find_all('td', {'data-stat' : 'home_team_name'})
    find_h_score = source.find_all('td', {'data-stat' : 'home_pts'})
    
    for i in range(len(find_visitor)) :
        visitor_name =  find_visitor[i].text.strip().split('\n')[0]
        v_score = find_v_score[i].text.strip().split('\n')[0]
        home_name = find_home[i].text.strip().split('\n')[0]
        h_score = find_h_score[i].text.strip().split('\n')[0]
    
        v_name_list.append(visitor_name)
        h_name_list.append(home_name)
        v_score_list.append(v_score)
        h_score_list.append(h_score)
        
#print (v_name_list)
#print (h_name_list)
#print (v_score_list)
#print (h_score_list)


print ("**************", len(v_name_list), len(h_name_list), len(v_score_list), len(h_score_list))

https://www.basketball-reference.com/leagues/NBA_2019_games-october.html
https://www.basketball-reference.com/leagues/NBA_2019_games-november.html
https://www.basketball-reference.com/leagues/NBA_2019_games-december.html
https://www.basketball-reference.com/leagues/NBA_2019_games-january.html
https://www.basketball-reference.com/leagues/NBA_2019_games-february.html
https://www.basketball-reference.com/leagues/NBA_2019_games-march.html
************** 1151 1151 1151 1151

In [95]:
#tr = source.find('tr')
#print (tr)

#     find_visitor = source.find_all('td', {'data-stat' : 'visitor_team_name'})
#     find_v_score = source.find_all('td', {'data-stat' : 'visitor_pts'})
#     find_home = source.find_all('td', {'data-stat' : 'home_team_name'})
#     find_h_score = source.find_all('td', {'data-stat' : 'home_pts'})

# #print (visitor_score)

#     for i in range(len(find_visitor)) :
#         visitor_name =  find_visitor[i].text.strip().split('\n')[0]
#         v_score = find_v_score[i].text.strip().split('\n')[0]
#         home_name = find_home[i].text.strip().split('\n')[0]
#         h_score = find_h_score[i].text.strip().split('\n')[0]
    
#         v_name_list.append(visitor_name)
#         h_name_list.append(home_name)
#         v_score_list.append(v_score)
#         h_score_list.append(h_score)
    
#     print (v_name_list)
#     print (h_name_list)
#     print (v_score_list)
#     print (h_score_list)

In [106]:
basket_df = pd.DataFrame({'Home':h_name_list, 'Home_score':h_score_list, 'Visitor':v_name_list, 'Vistor_score':v_score_list})

In [107]:
basket_df.head()

                    Home Home_score                Visitor Vistor_score
0         Boston Celtics        105     Philadelphia 76ers           87
1  Golden State Warriors        108  Oklahoma City Thunder          100
2      Charlotte Hornets        112        Milwaukee Bucks          113
3        Detroit Pistons        103          Brooklyn Nets          100
4         Indiana Pacers        111      Memphis Grizzlies           83

In [108]:
#if you wnat to save
#basket_df.to_csv('nba_project_rawdata.csv', encoding='utf-8')